<div class="container d-flex justify-content-center">
  <div class="row mt-5 d-flex  align-items-center flex-column  justify-content-center ">
    <img src="assets/images/logo2.png" class="mx-auto img-fluid">
    <h5 class="mt-2">Welcome to PinoCoffee</h5>
    <p>helping you to order coffee</p>
  </div>
</div>
<div class="container-fluid mt-3 justify-content-center align-items-center d-flex">
  <div class="row flex-column">
    <div class="form-group ">
      <label for="username">USERNAME</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="username">
      <i class="fas fa-user"></i>
    </div>
    <div class="form-group ">
      <label for="username">PASSWORD</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="**********">
      <i class="fas fa-key"></i>
    </div>
    <button class="mt-2">Login</button>
  </div>
</div>
