<div class="detail-screen d-flex flex-column">
    <div class="header  d-flex justify-content-start">
      <button><span class="fas  fa-long-arrow-alt-left"></span></button>
      <p class="m-auto">ORDER</p>
    </div>
    <div class="body">
      <img src="assets/images/capuchino.png" alt="" srcset="">
      <div class="title mx-3 my-2 ">
        Cafe Pino 1
      </div>
      <div class="content mx-3">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </div>
    </div>
  
    
   
  </div>
  