<div class="order-list">
  <div class="header d-flex justify-content-between mx-3 my-2">
    Your Order
    <button><img src="assets/images/down.png" alt=""></button>
  </div>
  <div class="list-item d-flex justify-content-between p-3">
    <div class="item-name">Mocha Coffee</div>
    <div class="item-price">1x65.000 vnđ</div>
  </div>
  <div class="list-item d-flex justify-content-between p-3">
    <div class="item-name">Mocha Coffee</div>
    <div class="item-price">1x65.000 vnđ</div>
  </div>
  <div class="list-item d-flex justify-content-between p-3">
    <div class="item-name">Mocha Coffee</div>
    <div class="item-price">1x65555.000 vnđ</div>
  </div>
  <div class="list-item d-flex justify-content-between p-3">
    <div class="item-name">Mocha Coffee</div>
    <div class="item-price">1x65.000 vnđ</div>
  </div>
  <textarea type="text" cols="40" rows="4" class="note">aaa</textarea>
</div>
