<div class="table-screen d-flex flex-column">
  <div class="header d-flex  py-3 justify-content-center">
    <p>TABLE</p>
  </div>
  <div class="body container d-flex">
    <div class="row">
      <div class="col-6">
        <app-table></app-table>
      </div>
      <div class="col-6">
        <app-table></app-table>
      </div>
      <div class="col-6">
        <app-table></app-table>
      </div>
      <div class="col-6">
          <app-table></app-table>
        </div>
        <div class="col-6">
            <app-table></app-table>
          </div>
          <div class="col-6">
              <app-table></app-table>
            </div>
    </div>
  </div>
  <div class="footer">
    <nav class="nav  navbar-expand justify-content-center  fixed-bottom">
      <ul class="nav navbar-nav d-flex  justify-content-around w-100">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-seedling"></i></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fas fa-cart-arrow-down"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-user"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
