<div class="table-screen d-flex flex-column">
    <div class="header  d-flex justify-content-start">
      <p class="m-auto">MENU</p>
    </div>
    <div class="menu">
      <div class="category d-flex flex-column justify-content-center">
        <span class="fas fa-coffee"></span>
        <p>Coffee</p>
      </div>
      <div class="category d-flex flex-column justify-content-center">
        <span class="fas fa-coffee"></span>
        <p>Coffee</p>
      </div>
      <div class="category d-flex flex-column justify-content-center">
        <span class="fas fa-coffee"></span>
        <p>Coffee</p>
      </div>
      <div class="category d-flex flex-column justify-content-center">
        <span class="fas fa-coffee"></span>
        <p>Coffee</p>
      </div>
      <div class="category d-flex flex-column justify-content-center">
        <span class="fas fa-coffee"></span>
        <p>Coffee</p>
      </div>
      <div class="category d-flex flex-column justify-content-center">
        <span class="fas fa-coffee"></span>
        <p>Coffee</p>
      </div>
    </div>
  
    <div class="body d-flex flex-column">

      <div class="container my-2">
        <div class="row">
          <div class="col-6">
            <img src="assets/images/iced.jpg" alt="" class=" d-block img-fluid">
          </div>
          <div class="col-6 d-flex flex-column justify-content-center">
            <p class="title">CaFe Mocha</p>
            <p class="price">65.000 vnd</p>
            <p class="description">Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn.</p>
            <button class="detail mt-2 mx-auto">Detail</button>
          </div>
        </div>
      </div>

      <div class="container my-2">
          <div class="row">
            <div class="col-6">
              <img src="assets/images/iced.jpg" alt="" class=" d-block img-fluid">
            </div>
            <div class="col-6 d-flex flex-column justify-content-center">
              <p class="title">CaFe Mocha</p>
              <p class="price">65.000 vnd</p>
              <p class="description">Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn.</p>
              <button class="detail mt-2 mx-auto">Detail</button>
            </div>
          </div>
        </div>

        <div class="container my-2">
            <div class="row">
              <div class="col-6">
                <img src="assets/images/iced.jpg" alt="" class=" d-block img-fluid">
              </div>
              <div class="col-6 d-flex flex-column justify-content-center">
                <p class="title">CaFe Mocha</p>
                <p class="price">65.000 vnd</p>
                <p class="description">Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn.</p>
                <button class="detail mt-2 mx-auto">Detail</button>
              </div>
            </div>
          </div>

          <div class="container my-2">
              <div class="row">
                <div class="col-6">
                  <img src="assets/images/iced.jpg" alt="" class=" d-block img-fluid">
                </div>
                <div class="col-6 d-flex flex-column justify-content-center">
                  <p class="title">CaFe Mocha</p>
                  <p class="price">65.000 vnd</p>
                  <p class="description">Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn.</p>
                  <button class="detail mt-2 mx-auto">Detail</button>
                </div>
              </div>
            </div>
      
      <!-- end  -->
    </div>
  
      <div class="footer">
    <nav class="nav  navbar-expand justify-content-center navbar-light bg-light fixed-bottom">
      <ul class="nav navbar-nav d-flex  justify-content-around w-100">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fas fa-seedling"></i></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#"><i class="fas fa-cart-arrow-down"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-user"></i></a>
        </li>
      </ul>
    </nav>
  </div>
  </div>
  