@import '../../config/color';

:host {
  position: relative;
  overflow: hidden;

  .table-screen {
    height: 100vh;
    background-color: $gray-background;

    .header {
      background: $primary-color;
      color: white;
      height: 55px;

      button {

        background: transparent;
        padding: 0 0 0 15px;
        color: white;

        span {
          font-size: 32px;

        }

        border: 0px;

        &:focus {
          outline: none;
        }
      }

      p {
        font-size: 17px;
        font-weight: bold;
      }
    }


    .menu {
      background-color: $gray-background;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .category {
        flex: 1 0 auto;
        background: #ffffff;
        border-radius: 5%;
        width: 70px;
        height: 70px;
        margin: 10px;
        color: $primary-color;

        span {
          text-align: center;
          font-size: 24px;
        }

        p {
          margin: 0px;
          padding-top: 5px;
          text-align: center;
          font-size: 10px;
        }
      }
    }

    .body {
      overflow: auto;
      flex: 1px;

      &::-webkit-scrollbar {
        display: none;
      }

      .container {
        background: #FFFFFF;
        width: 95%;

        .row {
          .col-6 {
            padding-left: 0px;
          }

          p {
            margin: 0px;
          }

          img {
            object-fit: cover;
            width: 160px;
            height: 160px;
            margin: 0px;
          }

          .title {
            text-align: center;
            font-size: 22px;
            font-weight: bold;
          }

          .price {
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
          }

          .description {
            text-align: center;
            font-size: 10px;
          }

          input {
            color: $light-color;
            text-align: center;
            font-size: 20px;
            border: $light-color 1px solid;
          }

          button {
            color: $light-color;
            text-align: center;
            border: $light-color 1px solid;
          }

          .detail {

            border-radius: 15px;
            padding: 1px 25px;
            background: $primary-color;
            color: #ffffff;
          }
        }

      }



    }

    .footer {
      height: 50px;
      
      nav {
        ul {
          li {
            i {
              font-size: 26px;
              color: #BEBEBE;
            }
          }

          .active {
            a>i {
              color: $primary-color;
            }
          }

        }
      }
    }

  }
}
