<div class="container mt-3 ready-table">
  <div class="d-flex pt-2 pb-1 mx-1 justify-content-between align-item-center header">
    <div class="p-1 title">TAB.01</div>
    <div class="my-auto p-2 name">Mr.Duong</div>
  </div>
  <div class="d-flex content justify-content-between align-item-center">
    <div class="p-2">3 Orders</div>
    <div class="my-auto px-3 py-1 ready">ready</div>
  </div>
</div>

<div class="container mt-3 available-table">
  <div class="d-flex pt-2 pb-1 mx-1 justify-content-between align-item-center header">
    <div class="p-1 title">TAB.01</div>
    <div class="my-auto p-1 available">Available</div>
  </div>
  <div class="d-flex justify-content-center align-item-center">
    <button>Order</button>
  </div>
</div>

<div class="container mt-3 ready-table">
  <div class="d-flex pt-2 pb-1 mx-1 justify-content-between align-item-center header">
    <div class="p-1 title">TAB.01</div>
    <div class="my-auto p-2 name">Mr.Duong</div>
  </div>
  <div class="d-flex  content-serviced flex-column justify-content-between align-item-center">
    <div class=" mt-1 mx-1 d-flex justify-content-between align-item-center"> 
      <div>3 Orders</div>
      <div class="serviced">serviced</div>
    </div>
    <div class="d-flex mt-1 mx-1 justify-content-between align-item-center">
      <div>1 New</div>
      <div class="preparing">preparing</div>
    </div>
  </div>
</div>

<div class="container mt-3 ready-table">
  <div class="d-flex pt-2 pb-1 mx-1 justify-content-between align-item-center header">
    <div class="p-1 title">TAB.01</div>
    <div class="my-auto p-2 name">Mr.Duong</div>
  </div>
  <div class="d-flex content justify-content-between align-item-center">
    <div class="p-2">3 Orders</div>
    <div class="my-auto px-3 py-1 serviced">serviced</div>
  </div>
</div>