@import '../../config/color';
:host {
    .title {
        color: $primary-color;
        font-size: 20px;
    }
    .description{
        color: $primary-color;
        text-align: center;
    }
    button {
        background: $primary-color;
        color: white;
        border: none;
        border-radius: 25px ;
        font-size: 14px;
        text-transform: uppercase;
        padding: 15px 30% 15px 30%;
        &:focus {
            outline: 0;
        }
        &:hover {
            background:#FF8B10; 
        }
    }
}